MQTT_USERNAME=your_mqtt_username
MQTT_PASSWORD=your_mqtt_password
INFLUXDB_URL=https://us-west-2-1.aws.cloud2.influxdata.com  # Example URL, replace with your region's URL
INFLUXDB_TOKEN=your_generated_token
INFLUXDB_ORG=your_organization_name
INFLUXDB_BUCKET=your_bucket_name
